In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [9]:
#loading dataset
ds = pd.read_csv("/Users/subaie/projects/my_python_project/machine_learning/customer_segmentation_mixed.csv")

In [14]:
#displaying the shape
ds.shape

(350, 6)

In [15]:
#displaying the first 5 rows
ds.head()

,Age,Annual_Income,Spending_Score,Monthly_Visits,Gender,Preferred_Product
0,56,26102,85,6,Female,Clothing
1,46,70336,75,18,Male,Home
2,32,105314,36,10,Male,Groceries
3,60,46641,99,5,Female,Electronics
4,25,54584,19,10,Male,Electronics

In [16]:
#checking column names
ds.columns

Index(['Age', 'Annual_Income', 'Spending_Score', 'Monthly_Visits', 'Gender',
       'Preferred_Product'],
      dtype='object')

In [17]:
#checking datatypes
ds.dtypes

Age                   int64
Annual_Income         int64
Spending_Score        int64
Monthly_Visits        int64
Gender               object
Preferred_Product    object
dtype: object